.card:hover img {
    transform: scale(1.2);
    opacity: 0.80;
}
.card img {
    transition: transform .5s ease;
}
.card {
    overflow: hidden;
}
.btn-group {
    opacity: 0;
    bottom: 100px;
    position: absolute;
    left: 0px;
    right: 0px;
}

.card:hover .btn-group {
    opacity: 1;
}
