<div class="card mb-3">
  <img src="{{member.photoUrl || './assets/user.png'}}" width="100%" height="150px">
  <div class="btn-group" role="group">
    <button routerLink="/members/{{member.username}}" type="button" class="btn btn-sm btn-primary m-1"><i
        class="fa fa-user"></i></button>
    <button type="button" class="btn btn-sm btn-primary m-1" (click)="addLike(member)"><i class="fa fa-heart"></i></button>
    <button type="button" class="btn btn-sm btn-primary m-1" 
    routerLink="/members/{{member.username}}"
    [queryParams]="{tab: 'Messages'}"
    ><i class="fa fa-envelope"></i></button>
  </div>
  <div class="card-body text-center">
    <p class="card-text ">
      <span class="fa fa-sm fa-user" [ngClass]="(presenceService.onlineUsers$ | async).includes(member.username) ? 'text-success' : 'text-muted'"></span>&nbsp;{{member.username | titlecase }}, {{member.age}}
    </p>
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item">@{{member.city}}</li>
  </ul>
</div>