<div class="container">
    <div class="row mt-3">
        <div class="col">
            <div class="btn-group">
                <button (click)="loadMessages()" class="btn btn-sm btn-primary" [(ngModel)]="messageParams.container"
                    btnRadio="Unread">Unread</button>
                <button (click)="loadMessages()" class="btn btn-sm btn-primary" [(ngModel)]="messageParams.container"
                    btnRadio="Inbox">Inbox</button>
                <button (click)="loadMessages()" class="btn btn-sm btn-primary" [(ngModel)]="messageParams.container"
                    btnRadio="Outbox">Outbox</button>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Message</th>
                        <th scope="col">{{messageParams.container === "Outbox" ? "To" : "From"}}</th>
                        <th scope="col">{{messageParams.container === "Outbox" ? "Sent At" : "Received At"}}</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let message of messages" class="cursor-pointer" routerLink='{{messageParams.container === "Outbox" ? 
                    "/members/" + message.receiverUsername : 
                    "/members/" + message.senderUsername}}'>
                        <td> {{ (message.content.length>32)? (message.content |
                            slice:0:32)+'...':(message.content) }}</td>
                        <td><img class="image-profile" src='{{messageParams.container === "Outbox" ? 
                            message.receiverPhotoUrl : message.senderPhotoUrl}}'>
                            {{messageParams.container === "Outbox" ? message.receiverUsername : message.senderUsername}}
                        </td>
                        <td>{{message.messageSentDate | timeago}}</td>
                        <td><button class="btn btn-danger btn-sm">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="pagination">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
</div>