<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" autocomplete="off">
  <h1 class="text-primary">Sign Up</h1>
  <hr>
  <div class="form-group">
    <span>Gender</span>
    <label class="radio-inline m-3">
      <input type="radio" formControlName="gender" value="male" checked> Male
    </label>
    <label class="radio-inline">
      <input type="radio" formControlName="gender" value="female"> Female
    </label>
  </div>
  <app-text-input [label]="'Username'" [formControl]="registerForm.controls['username']"></app-text-input>
  <app-text-input [label]="'Known As'" [formControl]="registerForm.controls['knownAs']"></app-text-input>
  <app-date-input [label]="'Date of Birth'" [formControl]="registerForm.controls['dateOfBirth']"></app-date-input>
  <app-text-input [label]="'City'" [formControl]="registerForm.controls['city']"></app-text-input>
  <app-text-input [label]="'Country'" [formControl]="registerForm.controls['country']"></app-text-input>
  <app-text-input [label]="'Password'" [formControl]="registerForm.controls['password']" [type]="'password'">
  </app-text-input>
  <app-text-input [label]="'Confirm Password'" [formControl]="registerForm.controls['confirmPassword']"
    [type]="'password'"></app-text-input>

    <div class="mb-5">
      <button type="submit" class="btn btn-primary mr-2">Submit</button>
      <button type="button" class="btn btn-danger" (click)="onRegisterCancel()">Cancel</button>
    </div>

</form>