<div class="container mt-5">
    <div class="rowa d-flex justify-content-center">
        <h2>Your matches - {{pagination?.totalItems}} found.</h2>
    </div>
    <div class="row my-3">
        <form #form="ngForm" (ngSubmit)="loadMembers()" autocomplete="off" class="form-inline">
            <div class="form-group">
                <label>Age from: </label>
                <input type="number" class="form-control ml-1" name="minAge" [(ngModel)]="userParams.minAge"
                    style="width: 75px;" [min]="userParams.minAge">
            </div>
            <div class="form-group ml-3">
                <label>Age to: </label>
                <input type="number" class="form-control ml-1" name="maxAge" [(ngModel)]="userParams.maxAge"
                    style="width: 75px;" [min]="userParams.minAge">
            </div>
            <div class="form-group ml-3">
                <label>Show: </label>
                <select name="gender" class="form-control ml-1" style="width: 100px;" [(ngModel)]="userParams.gender">
                    <option *ngFor="let gender of genderList" [value]="gender.value">
                        {{gender.display}}
                    </option>
                </select>
            </div>
            <button class="btn-primary ml-3" type="submit">
                Apply Filters
            </button>
            <button class="btn-outline-info ml-3" type="submit" (click)="resetFilters()">
                Reset Filters
            </button>
            <button class="btn-primary ml-3" type="button" name="orderBy" (click)="loadMembers()"
                [(ngModel)]="userParams.orderBy" btnRadio="lastActive">
                Order by Last Active
            </button>
            <button class="btn-primary" type="button" name="orderBy" (click)="loadMembers()"
                [(ngModel)]="userParams.orderBy" btnRadio="created">
                Order by Newest Member
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col-2" *ngFor="let member of members">
            <app-member-card [member]=member></app-member-card>
        </div>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="pagination">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
</div>